{%- comment -%}
  snippets/nav-main.liquid
  Usage:
    {% render 'nav-main' %}
{%- endcomment -%}

{{ 'nav-main.css' | asset_url | stylesheet_tag }}

<nav class="navbar">
  <ul>
    {% for link in linklists['main-menu'].links -%}
      <li>{{ link.title | link_to: link.url }}</li>
    {%- endfor %}
  </ul>
</nav>
